In [1]:
import pandas as pd

submission = pd.read_json("../data/submissions/submission_ver0.2.json")
submission

            results phase
0     multi-sarcasm   dev
1     multi-sarcasm   dev
2     multi-sarcasm   dev
3       not-sarcasm   dev
4       not-sarcasm   dev
...             ...   ...
1408  multi-sarcasm   dev
1409  multi-sarcasm   dev
1410  multi-sarcasm   dev
1411  multi-sarcasm   dev
1412  multi-sarcasm   dev

[1413 rows x 2 columns]

In [2]:
labels = submission["results"]
labels

0       multi-sarcasm
1       multi-sarcasm
2       multi-sarcasm
3         not-sarcasm
4         not-sarcasm
            ...
1408    multi-sarcasm
1409    multi-sarcasm
1410    multi-sarcasm
1411    multi-sarcasm
1412    multi-sarcasm
Name: results, Length: 1413, dtype: object

In [3]:
len_data_label = len(labels)
len_sarcasm = len(labels[labels == "multi-sarcasm"])
len_not_sarcasm = len(labels[labels == "not-sarcasm"])

In [4]:
print("Sarcasm %", len_sarcasm / len_data_label)
print("Not-Sarcasm %", len_not_sarcasm/ len_data_label)

Sarcasm % 0.6786978060863411
Not-Sarcasm % 0.3213021939136589